.form{
	background-color: black;
	opacity: .7;
	min-width: 500px;
	padding:40px;
	border-radius: 3px;
}
.form input{
	margin-bottom: 15px;
}
.event-validation{
	color:#fff;
	font-size: 20px;
}
.btn{
	margin-right: 15px;
}