label#thumbnail {
    margin-bottom: 20px;
    border: 1px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

label#thumbnail input {
    display: none;
}

label#thumbnail.has-thumbnail {
    border: 0;
}

label#thumbnail.has-thumbnail img {
    display: none;
}

.container > .event-validation {
    margin-top: 12px;
}
.event-validation-false{
	background-color: rgb(60, 255, 0);
}
.event-validation-true{
	background-color: rgb(255, 0, 0);
}